In [1]:
print("Hello world from Python")

Hello world from Python

In [2]:
x = 5
y = 66
z = 2.5
k = "Hello from Python"
print(x,y,z,k)

5 66 2.5 Hello from Python

In [3]:
# iam a comment

# Python programming overview

1. Data Types
    - primitive data types - int, str, bool, float and complex
    - non primitive data types - list, tuple, dictionary and set
    
2. Control Flow
    - if else
    - for loop
    - while loop
3. Functions
    - builtin functions
    - user defined functions
        - lamda functions
        
4. Object oriented programming
    - class and inheritance
5. packages & modules

## Data types 
### primitive data types

In [4]:
# int
x = 5
print(x)
type(x)

5

int

In [5]:
# float 
y = 0.5
print(y)
type(y)

0.5

float

In [6]:
z = "hello world"
print(z)
type(z)

hello world

str

In [7]:
k = True
print(k)
type(k)

True

bool

In [8]:
d = 5+8j
print(d)
type(d)

(5+8j)

complex

In [9]:
### non primitive data types

#### Lists
- collection of values
- support values of different data types
- supports repeatation
- are mutable
- can be defined using [] square brackets

In [10]:
x = [7,5,6,23,2.5,'hii','hello',45]
print(x)

[7, 5, 6, 23, 2.5, 'hii', 'hello', 45]

In [11]:
type(x)

list

In [12]:
len(x)

8

In [13]:
# indexing
print(x[0])
print(x[2])
print(x[-2])
print(x[-5])

7
6
hello
23

In [14]:
# slicing
x[2:5]

[6, 23, 2.5]

In [15]:
x[1:20]

[5, 6, 23, 2.5, 'hii', 'hello', 45]

In [16]:
x[2:]

[6, 23, 2.5, 'hii', 'hello', 45]

In [17]:
x[:3]

[7, 5, 6]

In [18]:
x

[7, 5, 6, 23, 2.5, 'hii', 'hello', 45]

In [19]:
x[0] = 125
print(x)

[125, 5, 6, 23, 2.5, 'hii', 'hello', 45]

In [20]:
x.append(5)

In [21]:
x

[125, 5, 6, 23, 2.5, 'hii', 'hello', 45, 5]

In [22]:
x.remove(2.5)

In [23]:
x

[125, 5, 6, 23, 'hii', 'hello', 45, 5]

In [24]:
x.pop(6)

45

In [25]:
x

[125, 5, 6, 23, 'hii', 'hello', 5]

In [26]:
x.insert(2,"bootup")

In [27]:
x

[125, 5, 'bootup', 6, 23, 'hii', 'hello', 5]

#### Tuple
- collection of values
- support values of different data types
- supports repeatation
- are **NOT** mutable
- can be defined using () parenthesis

In [28]:
y = (78,12,5.6,'hiiiiii','byeeeeeee',20)
print(y)
type(y)

(78, 12, 5.6, 'hiiiiii', 'byeeeeeee', 20)

tuple

In [29]:
len(y)

6

In [30]:
# indexing
print(y[0])
print(y[5])
print(y[-3])
print(y[-2])

78
20
hiiiiii
byeeeeeee

In [31]:
# slicing with tuple
y[2:5]

(5.6, 'hiiiiii', 'byeeeeeee')

In [32]:
y[-6:-2]

(78, 12, 5.6, 'hiiiiii')

In [33]:
y

(78, 12, 5.6, 'hiiiiii', 'byeeeeeee', 20)

In [34]:
y[0] = 25

TypeError: 'tuple' object does not support item assignment

#### Dictionary
- collection of key:value pairs
- support values of different data types
- supports NO repeation for key, but yes repeation for values
- are mutable
- can be defined using {} curly/middle brackets

In [35]:
k = {"Name":"Anshu","Age":23,"Weight":75,"Laptop":"Hp"}
print(k)
type(k)

{'Name': 'Anshu', 'Age': 23, 'Weight': 75, 'Laptop': 'Hp'}

dict

In [36]:
k["Name"]

'Anshu'

In [37]:
k["Age"]

23

In [39]:
# add a new key:value pair
k["Country"] = "India"
print(k)

{'Name': 'Anshu', 'Age': 23, 'Weight': 75, 'Laptop': 'Hp', 'Country': 'India'}

In [40]:
k.pop("Name")
print(k)

{'Age': 23, 'Weight': 75, 'Laptop': 'Hp', 'Country': 'India'}

#### sets
- collection of values
- support values of different data types
- supports **NO** repeatation
- are **NOT** mutable
- can be defined using {} curly/middle brackets
- mainly used for set theory operations - union/intersection

In [41]:
m = {7,5,5,4,5,4,5,2,5,6,2,5,5,"anshu"}

In [42]:
m

{2, 4, 5, 6, 7, 'anshu'}

In [43]:
n = {"hi","bye",7,8,1,2,3,1,2,1,2,1,2}
n

{1, 2, 3, 7, 8, 'bye', 'hi'}

In [44]:
type(n)

set

In [45]:
m.union(n)

{1, 2, 3, 4, 5, 6, 7, 8, 'anshu', 'bye', 'hi'}

In [46]:
m.intersection(n)

{2, 7}

# Control Flow

In [2]:
x = 6
if x<5:
    print("your number is smaller")
else:
    print("your number is larger")

your number is larger

In [3]:
for i in range(10):
    print("Hello world from python")

Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python
Hello world from python

In [4]:
for i in range(3,15,2):
    print("Hello world from python",i)

Hello world from python 3
Hello world from python 5
Hello world from python 7
Hello world from python 9
Hello world from python 11
Hello world from python 13

In [6]:
#list comprehension
temp = [25,24,26,27,28,29,23,23,26,29,28,27,21,24,25,26,23,26,29,29,28]
[i for i in temp if i>27]

[28, 29, 29, 28, 29, 29, 28]

In [7]:
x = 5
while x<20:
    x = int(input("Enter a value "))
    print("your value is lesser")

Enter a value 6
your value is lesser
Enter a value 4
your value is lesser
Enter a value 8
your value is lesser
Enter a value 10
your value is lesser
Enter a value 12
your value is lesser
Enter a value 15
your value is lesser
Enter a value 25
your value is lesser

# Functions

In [8]:
z = [7,5,3,6,6,9,5,3]
print(max(z))
print(min(z))
print(sum(z))
print(sorted(z))

9
3
44
[3, 3, 5, 5, 6, 6, 7, 9]

In [11]:
def myfun(x,y):
    """
    this function can be used to add and multiply two numbers
    >> myfun(2,3)
    >> (5,6)
    
    """
    z = x+y
    k = x*y
    return z,k

In [12]:
myfun(4,3)

(7, 12)

In [13]:
a,b = myfun(3,5)
print(a)
print(b)

8
15

In [14]:
help(myfun)

Help on function myfun in module __main__:

myfun(x, y)
    this function can be used to add and multiply two numbers
    >> myfun(2,3)
    >> (5,6)

In [16]:
print(myfun.__doc__)

    this function can be used to add and multiply two numbers
    >> myfun(2,3)
    >> (5,6)

In [17]:
# lambda functions = anonymous functions - they don't have a name

a = lambda x:x+5

In [18]:
a(3)

8

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv(r"D:\AI\data\regiment2.csv")
df

        name date_of_birth
0     Miller    12-05-1985
1   Jacobson    30-05-1987
2        Ali    04-06-1990
3     Milner    01-08-1989
4      Cooze    12-09-1985
5      Jacon    30-05-1986
6     Ryaner    04-02-1990
7       Sone    01-01-1989
8      Sloan    12-05-1995
9      Piger    30-05-1986
10     Riani    09-03-1990
11       Ali    01-06-1979

In [21]:
df.date_of_birth = pd.to_datetime(df.date_of_birth)

In [28]:
import datetime as dt
def to_dob(date):
    today = dt.datetime.now()
    days = (today-date).days
    age = round(days/365)
    return age

In [39]:

df["age"] = df.date_of_birth.transform(to_dob)

In [31]:
df

        name date_of_birth  age
0     Miller    1985-12-05   35
1   Jacobson    1987-05-30   33
2        Ali    1990-04-06   30
3     Milner    1989-01-08   31
4      Cooze    1985-12-09   34
5      Jacon    1986-05-30   34
6     Ryaner    1990-04-02   30
7       Sone    1989-01-01   31
8      Sloan    1995-12-05   25
9      Piger    1986-05-30   34
10     Riani    1990-09-03   30
11       Ali    1979-01-06   41

In [32]:
today = dt.datetime.now()

In [40]:

df["age"] = df.date_of_birth.transform(lambda x:round((today-x).days/365))

In [34]:
df

        name date_of_birth  age
0     Miller    1985-12-05   35
1   Jacobson    1987-05-30   33
2        Ali    1990-04-06   30
3     Milner    1989-01-08   31
4      Cooze    1985-12-09   34
5      Jacon    1986-05-30   34
6     Ryaner    1990-04-02   30
7       Sone    1989-01-01   31
8      Sloan    1995-12-05   25
9      Piger    1986-05-30   34
10     Riani    1990-09-03   30
11       Ali    1979-01-06   41

# Object oriented programming

In [41]:
# a class is a template for an object

In [68]:
class employee:
    Name = "John Robinson"
    Age = 20
    Biography = """
    lorem epsun lorem ...........................
    ............
    """
    Salary = 0
    Status = True
    
    def resignation(self):
        self.Status=False
        print("you resigned, check your status")

In [69]:
e1 = employee() # creating an object e1 of type class employee

In [62]:
e1.Age = 45
e1.Name = "Anshu Pandey"
e1.Salary = 456

In [63]:
employee

__main__.employee

In [64]:
e1

In [65]:
e1.Status

True

In [66]:
e1.resignation()

you resigned, check your status

In [67]:
e1.Status

False

In [52]:
e2 = employee()
e2.Name = "Rahul"

In [53]:
e2.Name

'Rahul'

In [70]:
from bootup import employee

In [71]:
e3 = employee()

## inheritance

In [73]:
class A:
    x = 5
    y = 6
    def myfun(self):
        print("Hello World")
        
    def myfun2(self,a,b):
        c = a+b
        return c

In [74]:

class B(A):
    z = 12
    y = 10
    def myfun(self):
        print(" you are class B")

In [88]:
m = A()
n = B()

In [89]:
m.y

6

In [90]:
m.myfun()

Hello World

In [91]:
n.x

5

In [92]:
n.myfun2(4,3)

7

# Modules and packages

In [94]:
import bootup

In [95]:
e5 = bootup.employee()

- numpy, scipy  = mathematical computation
- pandas, dask = Data improt / export, data engineering, data cleaning, data manipulation
                data visualization, statistical analysis
    
- seaborn, matplotlib = Data Visualization
- statsmodels = advance statistics
- sklearn (scikit-learn) - Supervised and Unsupervised ML algorithms, feature engineering
- tensorflow, keras, pytorch = deep learning, computer vision and NLP
- openCV, PIL = computer vision and image processing
*******************
- NLTK, spaCy, gensim = Natural language processing
- textblob - text processing
- librosa = audio processing

******************
- pyspark = Apache spark
- Flask, Django = Web app development