In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"D:\AI\Wiley\case-study\Decision Tree\fraud_dataset_v1.csv")
df.shape

(533009, 9)

In [3]:
df.head()

  WAERS BUKRS KTOSL BELNR BSCHL HKONT       DMBTR       WRBTR    label
0    C3   C31    C9   C92    A3    B1   280979.60        0.00  regular
1    C1   C18    C7   C76    A1    B2   129856.53   243343.00  regular
2    C1   C19    C2   C20    A1    B3   957463.97  3183838.41  regular
3    C4   C48    C9   C95    A2    B1  2681709.51    28778.00  regular
4    C5   C58    C1   C19    A3    B1   910514.49      346.00  regular